<%- include("headerPart1") -%> 

<title>Gifko Graphix | <%= title %> </title>

<%- include("headerPart2") -%> 

<section>
  <h1><%=title%></h1>
  <p><%=description%></p>

  <% files.forEach(element => { %>
    <% const fileName = folder.trim() + "/" + element.trim() %> 
    <% const arr = element.split(".") %> 
    <% if (arr[arr.length-1] === "mp4") { %>
      <video id="" width="720" height="480" controls>
        <source src="/portfolio<%=fileName%>">
      </video>
    <% } else { %>
      <img src="/portfolio<%=fileName%>" alt="an image"/> 
      <% } %>
  <% }) %>
  <!-- <img src="/portfolio-images/Logos/Afrodiasiac.png" alt="an image"/> -->
  <!-- <img src="/images/Logos/logo_t.svg" alt="an image"/> -->

</section>

<%- include("footer") -%> 